SF_ACCOUNT=*********
SF_USER=*********
SF_PASSWORD=*********
SF_ROLE=<account_role>
SF_WAREHOUSE=WH_NYCBIKE_DEV
SF_DATABASE=WH_NYCBIKE
SF_SCHEMA=BRONZE
SF_STAGE=WH_NYCBIKE.BRONZE.CITIBIKE_LANDING_STAGE
