SF_ACCOUNT=*********
SF_USER=*********
SF_PASSWORD=*********
SF_ROLE=ROLE_NYCBIKE
SF_WAREHOUSE=WH_NYCBIKE_DEV
SF_DATABASE=DEV_CITYBIKE_BRONZE
SF_SCHEMA=CITYBIKE
SF_STAGE=DEV_CITYBIKE_BRONZE.CITYBIKE.CITYBIKE_LANDING_STAGE

# Selector de entorno para dbt: DEV o PRO (controla prefijo DEV_/PRO_ en dbt_project.yml)
DBT_ENVIRONMENTS=DEV
