SF_ACCOUNT=*********
SF_USER=*********
SF_PASSWORD=*********
SF_ROLE=ROLE_NYCBIKE
SF_WAREHOUSE=WH_NYCBIKE_DEV
SF_DATABASE=DB_CITYBIKE_BRONZE
SF_SCHEMA=CITYBIKE
SF_STAGE=DB_CITYBIKE_BRONZE.CITYBIKE.CITYBIKE_LANDING_STAGE
